@tailwind base;
@tailwind components;
@tailwind utilities;

/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v40-latin-regular.woff2") format("woff2");
}

/* open-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/open-sans-v40-latin-500.woff2") format("woff2");
}

/* open-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v40-latin-600.woff2") format("woff2");
}

/* open-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v40-latin-700.woff2") format("woff2");
}

/* open-sans-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/open-sans-v40-latin-800.woff2") format("woff2");
}

@layer components {
  .align-elements {
    @apply mx-auto w-full max-w-[1885px] px-5;
  }

  .icons-effect {
    @apply flex h-10 w-10 items-center justify-center rounded-full border-2 border-borderColor transition-all duration-300 hover:border-hoverIcon hover:bg-hoverIcon;
  }

  .gallery-btn {
    @apply border-b-[2px] border-b-transparent pb-2 font-semibold transition-all duration-300 hover:border-b-hoverIcon hover:text-hoverIcon;
  }

  .hover-card {
    @apply absolute bottom-0 bg-black/55 pb-[43px] pl-5 pr-[50px] pt-[30px] text-white backdrop-blur-[12px] transition-all duration-300 hover:bg-hoverIcon;
  }

  /* Swiper pagination nuqtalarini qizil qilish */
  .swiper-pagination-bullet {
    background-color: red !important;
  }

  .swiper-pagination-bullet-active {
    background-color: darkred !important;
  }

  html,
  body,
  #root {
    @apply h-full;
  }

  #root {
    @apply flex flex-col;
  }

  main {
    @apply grow;
  }
}
